.input-hover:hover {
    border: dashed black 2px;
    background-color: rgba(236, 236, 236, 0.782);
    cursor: pointer;
}

.selected-subtitle {
    background-color: blue;
}

#left-timeline-expander,
#right-timeline-expander {
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: red;
    cursor: ew-resize;
    z-index: 10;
}

#left-timeline-expander {
    left: 0;
}

#right-timeline-expander {
    right: 0;
}

.SUBTITLE_OVERLAY_LINE_CLASS {
    background-color: transparent;
}

.SUBTITLE_OVERLAY_LINE_CLASS#ACTIVE_OVERLAY_LINE_ID {
    background-color: yellow;
}